/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size:16px;
  line-height: 1.7;
  padding: 0 25px;
}


.header {
  height: 99vh;
  background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,185,165,0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  clip-path: polygon(0 0, 100% 0,100% 80vh, 0 100%);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-style {
  color:white;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 20px;
}

.heading.primary.sub {
  display: block;
  font-weight: 200;
  letter-spacing: 20px;
  font-size: 50px;

}
