.header {
  height: 99vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.5), rgba($color-primary-dark,0.4)), url(../img/astronomy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  clip-path: polygon(0 0, 100% 0,100% 80vh, 0 100%);

  &__logo-box {
    height: 35px;
  }

  &__logo {
    height:50px
  }
  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

