// Colors

$color-primary: #55c57a;
$color-primary-light:#B1DFD7;
$color-primary-dark:#37715D;

$color-grey-light-1: #f7f7f7;

$color-white:#FFFFFF;
$color-black:#000000;
$nice-gray:#EBEDEF;

// GRID

$grid-width: 60rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 60px;
